<body>
  <header></header>
  <main>
    <div>
      <div class="banner promo"><div><div><h2>Drive Multi-Die Innovation</h2></div><div><p> Synopsys is empowering technology visionaries with a comprehensive and scalable multi-die solution for fast heterogeneous integration.</p></div><div><p><strong><a href="/multi-die-system">Get Started</a></strong></p></div></div></div><div class="section-metadata"><div><div>style</div><div>pad-bottom-sm, xf</div></div></div>
    </div>
  </main>
  <footer></footer>
</body>
