<body>
  <header></header>
  <main>
    <div>
      <div class="banner promo"><div><div><h2>Subscribe to the Synopsys IP Technical Bulletin</h2></div><div><p>Includes in-depth technical articles, white papers, videos, upcoming webinars, product announcements and more.</p></div><div><p><strong><a href="https://www.synopsys.com/cgi-bin/dwtb/req1.cgi">Subscribe</a></strong></p></div></div></div><div class="section-metadata"><div><div>style</div><div>pad-top-xs, pad-bottom-sm, xf</div></div></div>
    </div>
  </main>
  <footer></footer>
</body>
